<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>208267977837-ah8nuqbd7gdpq7e8mq1c48fnps8sop25.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.208267977837-ah8nuqbd7gdpq7e8mq1c48fnps8sop25</string>
	<key>API_KEY</key>
	<string>AIzaSyCriJbP8XwhA3KCMUuSuIsEvi4ACuEEqHM</string>
	<key>GCM_SENDER_ID</key>
	<string>208267977837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newcapstone</string>
	<key>PROJECT_ID</key>
	<string>new-capstone-480be</string>
	<key>STORAGE_BUCKET</key>
	<string>new-capstone-480be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:208267977837:ios:5c3261a9aca0e063054b64</string>
</dict>
</plist>